/*Background stuff*/
html body{
    background-position: center;
    background-size: cover;
    background-repeat: repeat-y;
    background-color: #3C3C3C;
    width: 100%;
    overscroll-behavior-x: none;
    overflow-x: hidden;
  }
  @media (max-width: 576px) {
    html body{
        background-position: right;
        background-size: cover;
        background-repeat: repeat-y;
        background-color: #3C3C3C;
        overflow-x: hidden;
    }
  }
/*Home*/
  .home{
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    min-height: 52px;
  }
  .home-button{
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
}
  .home-description{
      text-align: center;
      color: white;
      align-items: center;
      justify-content: center;
      display: flex;
      margin-left: auto;
      margin-right: auto;
      overflow: hidden;
      text-align: center;
  }
  /*About Us*/
.about-us-home{
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    min-height: 52px;
   

}
.about-us-description{
    text-align: center;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    text-align: center;
    padding: 8px 16px;
    min-height: 52px;

 }
  /*Footer*/
  .footer {
    width: 70%;
    background-color:#3C3C3C;
    text-align: center;
    padding: 4vh 15%;
    margin-top: 20px;
}

.footer img {
    display: inline-block;
    height: 25vh;
    width: auto;
    
}

.footer .links {
    margin-top: 3vh;
}

.footer .links a {
    font-size: 1.75vh;
    color: #fff;
    text-decoration: none;
    margin: 0 1%;
    font-weight: 900;
}

/* 404 */
.error{
    color: white;
    text-align: center;
    margin-top: 200px;
}

.my-page-root__link {
    display: flex;
    min-height: 52px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 8px 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
          }
      

      
